TermProject/Web References/CloudSvc/CloudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateMethodResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByLoginIDandPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByLoginIDandPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByLoginIDandPassResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="roleID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesByUserIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCloudUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCloudUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCloudUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCloudAdmins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCloudAdminsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCloudAdminsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRolesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllIntervals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllIntervalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIntervalsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTransByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="interval" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTransByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTransByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAdminTransByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="interval" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAdminTransByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAdminTransByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOneFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOneFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOneFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateMethodSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateMethod" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMethodSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateMethodResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByLoginIDandPassSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByLoginIDandPass" />
  </wsdl:message>
  <wsdl:message name="GetUserByLoginIDandPassSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByLoginIDandPassResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="AddFileSoapIn">
    <wsdl:part name="parameters" element="tns:AddFile" />
  </wsdl:message>
  <wsdl:message name="AddFileSoapOut">
    <wsdl:part name="parameters" element="tns:AddFileResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFile" />
  </wsdl:message>
  <wsdl:message name="UpdateFileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilesByUserID" />
  </wsdl:message>
  <wsdl:message name="GetFilesByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="AccountUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:AccountUpdate" />
  </wsdl:message>
  <wsdl:message name="AccountUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:AccountUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCloudUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCloudUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllCloudUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCloudUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCloudAdminsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCloudAdmins" />
  </wsdl:message>
  <wsdl:message name="GetAllCloudAdminsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCloudAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllIntervalsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIntervals" />
  </wsdl:message>
  <wsdl:message name="GetAllIntervalsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIntervalsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByID" />
  </wsdl:message>
  <wsdl:message name="GetUserByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTransByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTransByID" />
  </wsdl:message>
  <wsdl:message name="GetAllTransByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTransByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTransByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTransByDate" />
  </wsdl:message>
  <wsdl:message name="GetAllTransByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTransByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAdminTransByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAdminTransByDate" />
  </wsdl:message>
  <wsdl:message name="GetAllAdminTransByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAdminTransByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetOneFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetOneFile" />
  </wsdl:message>
  <wsdl:message name="GetOneFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetOneFileResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudServiceSoap">
    <wsdl:operation name="AuthenticateMethod">
      <wsdl:input message="tns:AuthenticateMethodSoapIn" />
      <wsdl:output message="tns:AuthenticateMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByLoginIDandPass">
      <wsdl:input message="tns:GetUserByLoginIDandPassSoapIn" />
      <wsdl:output message="tns:GetUserByLoginIDandPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <wsdl:input message="tns:AddFileSoapIn" />
      <wsdl:output message="tns:AddFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <wsdl:input message="tns:UpdateFileSoapIn" />
      <wsdl:output message="tns:UpdateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUserID">
      <wsdl:input message="tns:GetFilesByUserIDSoapIn" />
      <wsdl:output message="tns:GetFilesByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <wsdl:input message="tns:AccountUpdateSoapIn" />
      <wsdl:output message="tns:AccountUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCloudUsers">
      <wsdl:input message="tns:GetAllCloudUsersSoapIn" />
      <wsdl:output message="tns:GetAllCloudUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCloudAdmins">
      <wsdl:input message="tns:GetAllCloudAdminsSoapIn" />
      <wsdl:output message="tns:GetAllCloudAdminsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input message="tns:GetAllRolesSoapIn" />
      <wsdl:output message="tns:GetAllRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIntervals">
      <wsdl:input message="tns:GetAllIntervalsSoapIn" />
      <wsdl:output message="tns:GetAllIntervalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <wsdl:input message="tns:GetUserByIDSoapIn" />
      <wsdl:output message="tns:GetUserByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransByID">
      <wsdl:input message="tns:GetAllTransByIDSoapIn" />
      <wsdl:output message="tns:GetAllTransByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransByDate">
      <wsdl:input message="tns:GetAllTransByDateSoapIn" />
      <wsdl:output message="tns:GetAllTransByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdminTransByDate">
      <wsdl:input message="tns:GetAllAdminTransByDateSoapIn" />
      <wsdl:output message="tns:GetAllAdminTransByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOneFile">
      <wsdl:input message="tns:GetOneFileSoapIn" />
      <wsdl:output message="tns:GetOneFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudServiceSoap" type="tns:CloudServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMethod">
      <soap:operation soapAction="http://tempuri.org/AuthenticateMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByLoginIDandPass">
      <soap:operation soapAction="http://tempuri.org/GetUserByLoginIDandPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap:operation soapAction="http://tempuri.org/AddFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap:operation soapAction="http://tempuri.org/UpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUserID">
      <soap:operation soapAction="http://tempuri.org/GetFilesByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <soap:operation soapAction="http://tempuri.org/AccountUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCloudUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllCloudUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCloudAdmins">
      <soap:operation soapAction="http://tempuri.org/GetAllCloudAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIntervals">
      <soap:operation soapAction="http://tempuri.org/GetAllIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <soap:operation soapAction="http://tempuri.org/GetUserByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransByID">
      <soap:operation soapAction="http://tempuri.org/GetAllTransByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransByDate">
      <soap:operation soapAction="http://tempuri.org/GetAllTransByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdminTransByDate">
      <soap:operation soapAction="http://tempuri.org/GetAllAdminTransByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneFile">
      <soap:operation soapAction="http://tempuri.org/GetOneFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudServiceSoap12" type="tns:CloudServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMethod">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByLoginIDandPass">
      <soap12:operation soapAction="http://tempuri.org/GetUserByLoginIDandPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap12:operation soapAction="http://tempuri.org/AddFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap12:operation soapAction="http://tempuri.org/UpdateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUserID">
      <soap12:operation soapAction="http://tempuri.org/GetFilesByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <soap12:operation soapAction="http://tempuri.org/AccountUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCloudUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllCloudUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCloudAdmins">
      <soap12:operation soapAction="http://tempuri.org/GetAllCloudAdmins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap12:operation soapAction="http://tempuri.org/GetAllRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIntervals">
      <soap12:operation soapAction="http://tempuri.org/GetAllIntervals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <soap12:operation soapAction="http://tempuri.org/GetUserByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransByID">
      <soap12:operation soapAction="http://tempuri.org/GetAllTransByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransByDate">
      <soap12:operation soapAction="http://tempuri.org/GetAllTransByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdminTransByDate">
      <soap12:operation soapAction="http://tempuri.org/GetAllAdminTransByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneFile">
      <soap12:operation soapAction="http://tempuri.org/GetOneFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudService">
    <wsdl:port name="CloudServiceSoap" binding="tns:CloudServiceSoap">
      <soap:address location="http://localhost:4799/CloudService.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudServiceSoap12" binding="tns:CloudServiceSoap12">
      <soap12:address location="http://localhost:4799/CloudService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>